/.github            export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/docs               export-ignore
/examples           export-ignore
/screens            export-ignore
/tests              export-ignore
/phpunit.xml        export-ignore
