<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true"
         failOnDeprecation="false"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
            <exclude>tests/Live</exclude>
        </testsuite>
        <testsuite name="live">
            <directory>tests/Live</directory>
        </testsuite>
    </testsuites>

    <!-- Живые запросы исключены: сайт принимает их только с российских адресов -->
    <groups>
        <exclude>
            <group>live</group>
        </exclude>
    </groups>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
